/* index html */

a:link {
    color: #ffffff; /* Unvisited link */
  }
  
  a:visited {
    color: #ffffff; /* Visited link */
  }
  
  a:hover {
    color: #FF0000; /* Link on mouse over */
  }
  
  a:active {
    color: #00FF00; /* Selected link */
  }

  a {
    text-decoration: none;
}

  
#indexbg{
    background-color: #032539;
    box-sizing: border-box;
    font-family: "Helvetica", serif;
}

.title1{
    font: 80px;
    color:#FBF3F2;
    text-align: center;
    margin: 10px auto;
    padding: 5px;
    width: 400px;
    background-color: #FA991C;
    border-color: #1C768F;
    border-style: solid;
    border-width: 3.5px;
}

span{
    font-weight: 800;
    color: #1C768F
}
.p1{
    margin: 10px auto;
    padding: 5px;
    text-align: center;
}

.butt{
    display: block;
    margin: 20px auto;
    width: 400px;
    background-color: #FA991C;;
    font-size: 20px;
    padding: 5px;
    border-color: #1C768F;
    color: #FBF3F2;
}

.bgbox{
    background-color: #FBF3F2;
    height: 300px;
    width: 600px;
    margin: 0 auto;
    padding-top: 20px;
}

/* eggplantparm.html */

#eplantparm{
    background-color: #FBF3F2;
}

.title2{
    background-color: #FA991C;
    color:#FBF3F2;
    width: 550px;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    border: solid 4px #1C768F;
}


#eggplant{
    margin: auto;
    display: block;
    width: 550px;
    border: solid 2px #1C768F;
}

figcaption{
    margin: 10px auto;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    background-color: red;
    color:#FBF3F2;
    width: 300px;
    border: solid 2px #1C768F
}

.desc1{
    font-size: 30px;
    text-align: center;
    margin: auto;
    background-color: #FA991C;
    width: 300px;
    border: solid 2px #1C768F;
    color:#FBF3F2;
}

.descp{
    margin: auto;
    text-align: center;
    font-size: 15px;
    width: 400px;
    display: inline;
}

.ingr1{
    font-size: 30px;
    text-align: center;
    margin: auto;
    background-color: #FA991C;
    width: 300px;
    border: solid 2px #1C768F;
    color:#FBF3F2;
}

.disclaimer{
    margin: 10px auto;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    background-color: red;
    color:#FBF3F2;
    width: 300px;
    border: solid 2px #1C768F;
}

.ingrlist{
    margin: 0 auto;
    padding-left: 520px;
    text-align: left;
}

.steps1{
    font-size: 30px;
    text-align: center;
    margin: auto;
    background-color: #FA991C;
    width: 300px; 
    border: solid 2px #1C768F;
    color:#FBF3F2;
}

.stepsp{
    margin: 10px auto;
    width: 600px;
}

li{
    margin: 5px;
    padding: 10px;
}

/* bastedribeye */

#bribeye{
    background-color: #FBF3F2;
}

.title3{
    background-color: #FA991C;
    color:#FBF3F2;
    width: 550px;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    border: solid 4px #1C768F;
}

#ribeye{
    margin: auto;
    display: block;
    width: 550px;
    border: solid 2px #1C768F;
}

.desc2{
    font-size: 30px;
    text-align: center;
    margin: auto;
    background-color: #FA991C;
    width: 300px;
    border: solid 2px #1C768F;
    color:#FBF3F2;
}

.descp2{
    margin: auto;
    text-align: center;
    font-size: 15px;
    width: 400px;
    display: inline;
}

.ingr2{
    font-size: 30px;
    text-align: center;
    margin: auto;
    background-color: #FA991C;
    width: 300px;
    border: solid 2px #1C768F;
    color:#FBF3F2;
}

.ingrlist2{
    margin: 0 auto;
    padding-left: 520px;
    text-align: left;
}

.steps2{
    font-size: 30px;
    text-align: center;
    margin: auto;
    background-color: #FA991C;
    width: 300px; 
    border: solid 2px #1C768F;
    color:#FBF3F2;
}

.stepsp2{
    margin: 10px auto;
    width: 600px;
}

/* misosoup */

#misosup{
    background-color: #FBF3F2;
}

.title4{
    background-color: #FA991C;
    color:#FBF3F2;
    width: 550px;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    border: solid 4px #1C768F;
}

#misoo{
    margin: auto;
    display: block;
    width: 550px;
    border: solid 2px #1C768F;
}

.desc3{
    font-size: 30px;
    text-align: center;
    margin: auto;
    background-color: #FA991C;
    width: 300px;
    border: solid 2px #1C768F;
    color:#FBF3F2;
}

.descp3{
    margin: auto;
    text-align: center;
    font-size: 15px;
    width: 400px;
    display: inline;
}

.ingr3{
    font-size: 30px;
    text-align: center;
    margin: auto;
    background-color: #FA991C;
    width: 300px;
    border: solid 2px #1C768F;
    color:#FBF3F2;
}

.ingrlist3{
    margin: 0 auto;
    padding-left: 520px;
    text-align: left;
}

#kerrygold{
    margin-left: -175px;
}
.steps3{
    font-size: 30px;
    text-align: center;
    margin: auto;
    background-color: #FA991C;
    width: 300px; 
    border: solid 2px #1C768F;
    color:#FBF3F2;
}

.stepsp3{
    margin: 10px auto;
    width: 600px;
}

/* button links */


.epp{
    background-color: #032539;
    color:#FBF3F2;
    border: solid 2px #1C768F;
    text-align: center;
    font-size: 15px;
    flex: 1;
}

.ms{
    background-color: #032539;
    color:#FBF3F2;
    border: solid 2px #1C768F;
    text-align: center;
    font-size: 15px;
    flex: 1;
}

.bre{
    background-color: #032539;
    color:#FBF3F2;
    border: solid 2px #1C768F;
    text-align: center;
    font-size: 15px;
    flex: 1;
}

.homepage{
    background-color: #032539;
    color:#FBF3F2;
    border: solid 2px #1C768F;
    text-align: center;
    font-size: 15px;
    flex: 2;
}

#butts3{
    display: flex;
    justify-content: center;
    flex: 1;
}